<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DBweather" connectionString="Data Source=DESKTOP-8CQBJ1G\SQLEXPRESS;Initial Catalog=DBWeather;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
</configuration>